<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="header d-flex justify-content-center">
    <h1 class="mt-4">My DevBlog</h1>
  </div>
  <div *ngIf="blogPost$ | async as blogPost">
    <div class="post-container">
      <img [src]="blogPost.fields.featuredImage.fields.file.url" alt="" />
      <h2>{{ blogPost.fields.title }}</h2>
      <p class="author">{{ blogPost.fields.author }}</p>
      <p class="content">
        <markdown ngPreserveWhitespaces>
          {{ _returnHtmlFromRichText(blogPost.fields.content) }}
        </markdown>
      </p>

      <p id="updateDate">Last updated: {{blogPost.fields.updatedDate | date:'yyyy-MM-dd HH:mm'}}</p>
    </div>
  </div>
</div>
